html, body {
  margin: 0;
  padding: 0;
  height: 100%;

  overflow: hidden;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

ul, div, button {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}
